<!-- Передача данных из класса в шаблон -->
<!-- передача строк (string interpolation) -->
<h1>{{ title }}</h1>
<h1>{{ myProp }}</h1>
<h1>{{ myNumber }}</h1>
<h1>isTrue имеет значение true: {{ isTrue ? "да" : "нет" }}</h1>
<h1>{{ 10 + 20 }}</h1>
<h1>{{ title.toUpperCase() }}</h1>

<!-- привязка свойств property binding -->
<button [disabled]="isTrue">Кнопка</button>
<!-- <button disabled={{isTrue}}>Кнопка</button>  так не надо -->

<hr />
<!-- события и их обработка -->
<div class="block" (mousemove)="onMouseMove($event)"></div>
X = {{ x }}, Y = {{ y }}

<!-- привязка свойств класса к полям ввода -->
<!-- нужно подключить FormsModule -->
<hr />
<input type="text" [(ngModel)]="myInputValue" />
<p>{{ myInputValue }}</p>

<!-- использование условий в шаблоне -->
<!-- используетися директива *ngIf="значение", 
  если значение === true то элемент отображется -->
<h1 *ngIf="isTrue">Отображать, если isTrue == true</h1>
<h1 *ngIf="!isTrue">Отображать, если isTrue == false</h1>

<!-- работа со списками -->
<!-- <h1>{{ myArray[0] }}</h1>
<h1>{{ myArray[1] }}</h1> -->
<!-- Дириктива *ngFor работает, как цикл for of -->
<h1 *ngFor="let item of myArray">{{ item }}</h1>

<hr />
<input type="text" [(ngModel)]="myString" />
<button (click)="onAddStringToArray()">Добавить</button>
<h1 *ngFor="let item of arrayForStrings">{{ item }}</h1>
